/* Override defaults */
$primary: #4a3184;
$secondary: #dadada;

/* Import the necessary Bootstrap files */
@import "../../node_modules/bootstrap/scss/bootstrap";


$min-weight: #43e743;
$max-weight: #ff0000;

header {
    background: white;
}

body {
    background: tint-color($primary, 90%);
}

.bgdb-btn-filter {
    margin-left: auto;
    margin-right: 0;
}

.bgdb-card-thumbnail-container {
    width: 150px;
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: $primary;
}

.bgdb-filter-icon{
    width: 1rem;
    height: 1rem;
}

.bgdb-summary {
    background-color: $primary;
    width: 130px;
    padding: 10px;
    align-content: center;
}

.bgdb-summary * {
    margin-left: auto;
    margin-right: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.bgdb-weight-1 {
    color: rgb(50, 255, 50);
}

.bgdb-weight-2 {
    color: yellow;
}

.bgdb-weight-3 {
    color: orange;
}

.bgdb-weight-4 {
    color: red;
}

.bgdb-weight-5 {
    color: darkred;
}
