/* Override defaults */
$primary: #2d1e5c;
$secondary: #dadada;

/* Import the necessary Bootstrap files */
@import "../../node_modules/bootstrap/scss/bootstrap";


$min-weight: #43e743;
$max-weight: #ff0000;

header {
    background: white;
}

body {
    background: tint-color($primary, 85%);
}

.bgdb-btn-filter {
    margin-left: auto;
    margin-right: 0;
}

.bgdb-card-thumbnail {
    display: block;
    height: 100%;
    width: auto;
}

.bgdb-card-thumbnail-container {
    height: 100%;
    max-height: 150px;
}

.bgdb-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.bgdb-label.input-group-text {
    background-color: tint-color($primary, 80%);
}

.bgdb-slider.multi-range-slider {
    border: none;
    box-shadow: none;
    padding-left: 10%;
    padding-right: 10%;
}

.bgdb-slider.multi-range-slider .bar-inner {
    background-color: tint-color($primary, 30%);
    border: none;
    box-shadow: none;
    padding: 4px 0px;
}

.bgdb-slider.multi-range-slider .bar-left,
.bgdb-slider.multi-range-slider .bar-right {
    border: none;
    background-color: tint-color($primary, 70%);
    box-shadow: none;
    padding: 1px 0px;
    margin: 3px 0px;
}

.bgdb-slider.multi-range-slider .thumb {
    background-color: $primary;
}

.bgdb-slider.multi-range-slider .thumb::before {
    border: none;
    box-shadow: none;
    margin: -6px -12px;
}

.bgdb-slider.multi-range-slider .thumb .caption {
    display: none !important;
}

.bgdb-summary {
    background-color: $primary;
    align-content: center;
    overflow: hidden;
}

.bgdb-summary * {
    font-size: 1.1rem;
    color: white;
    text-align: left;
}

.bgdb-weight-1 {
    color: rgb(50, 255, 50);
}

.bgdb-weight-2 {
    color: yellow;
}

.bgdb-weight-3 {
    color: orange;
}

.bgdb-weight-4 {
    color: red;
}

.bgdb-weight-5 {
    color: darkred;
}
